/*Movie Schedule Starts Here*/
.seat-plan-wrapper li {
   padding: 0;
   border-bottom: 1px solid #000000bf;
 }
 
 .seat-plan-wrapper li:last-child {
   border: none;
 }
 
 .seat-plan-wrapper li .movie-name {
   padding: 30px;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   width: 45%;
   border-right: 1px solid #000000bf;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .seat-plan-wrapper li .movie-name .name {
   margin-right: auto;
   margin-left: 20px;
   color: #dbe2fb;
   text-transform: uppercase;
 }
 
 .seat-plan-wrapper li .movie-name .location-icon {
   background-color: #17305f;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   border-radius: 50%;
   color: #9aace5;
 }
 
 .seat-plan-wrapper li .movie-name .icons {
   color: #9aace5;
 }
 
 .seat-plan-wrapper li .movie-name .icons i {
   animation-name: fadeIn;
   -webkit-animation-name: fadeIn;
   -moz-animation-name: fadeIn;
   animation-duration: .4s;
   -webkit-animation-duration: .4s;
   -moz-animation-duration: .4s;
   display: none;
 }
 
 .seat-plan-wrapper li .movie-name .icons i:first-child {
   display: block;
 }
 
 .seat-plan-wrapper li .movie-schedule {
   width: calc(100% - 45%);
   padding: 30px;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin: -5px;
   background-color: #fff;
 }
 
 .seat-plan-wrapper li .movie-schedule .item {
   padding: 5px;
   width: 70px;
   position: relative;
   mask-position: center center;
   -webkit-mask-position: center center;
   text-align: center;
   mask-image: url(img/movie-seat.png);
   -webkit-mask-image: url(img/movie-seat.png);
   -webkit-mask-repeat: no-repeat;
           mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
           mask-size: 100% 100%;
   cursor: pointer;
   -webkit-transition: all ease 0.3s;
   transition: all ease 0.3s;
   margin: 5px;
 }
 
 .seat-plan-wrapper li .movie-schedule .item:hover {
   background: #fff;
 }
 
 .seat-plan-wrapper li:hover .movie-name .icons i {
   display: none;
 }
 
 .seat-plan-wrapper li:hover .movie-name .icons i:last-child {
   display: block;
   color: #f1481f;
 }
 
 .seat-plan-wrapper li:hover .movie-name .location-icon {
   background: #31d7a9;
   color: #ffffff;
 }
 
 @media (min-width: 768px) and (max-width: 1199px) {
   .seat-plan-wrapper li .movie-name {
     width: 40%;
     background-color: #000000BF;
   }
   .seat-plan-wrapper li .movie-schedule {
     width: 60%;
     background-color: #E50914d2;
   }
 }
 
 @media (max-width: 767px) {
   .seat-plan-wrapper li .movie-name, .seat-plan-wrapper li .movie-schedule {
     width: 100%;
     border: none;
   }
   .seat-plan-wrapper li .movie-name {
     padding-bottom: 0;
   }
 }
 
 /*Window Warning Starts Here*/
 .window-warning {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   overflow-y: scroll;
   padding: 30px 15px;
   z-index: 9999;
   -webkit-transition: all ease 0.3s;
   transition: all ease 0.3s;
 }
 
 .window-warning .lay {
   position: fixed;
   background: rgba(10, 30, 94, 0.9);
   top: 0;
   width: 100%;
   height: 100%;
   left: 0;
 }
 
 .window-warning .warning-item {
   position: relative;
   z-index: 1;
   border-radius: 20px;
   background: #ffffff;
   width: 100%;
   max-width: 560px;
   padding: 60px 15px;
   text-align: center;
 }
 
 @media screen and (max-width: 399px) {
   .window-warning .warning-item {
     padding: 40px 15px;
   }
 }
 
 .window-warning .warning-item .title {
   color: #31d7a9;
   text-transform: uppercase;
   font-weight: 600;
   margin-bottom: 32px;
 }
 
 .window-warning .warning-item .subtitle {
   color: #0a1e5e;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 12px;
 }
 
 .window-warning .warning-item .thumb {
   width: 192px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
 }
 
 .window-warning .warning-item .thumb img {
   max-width: 100%;
 }
 
 .window-warning .warning-item .seatPlanButton {
   font-weight: 600;
   padding: 11px 35px;
   -webkit-box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
   box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
 }
 
 .window-warning .warning-item .seatPlanButton i {
   margin-left: 5px;
 }
 
 .window-warning::-webkit-scrollbar {
   display: none;
 }
 
 .window-warning.inActive {
   visibility: hidden;
   opacity: 0;
   z-index: -99;
 }
 
 /*Seat-Plan Starts Here*/
 .screen {
   font-size: 28px;
   margin: 0 auto 40px;
   position: relative;
   text-align: center;
   max-width: 350px;
   font-weight: 600;
   text-transform: uppercase;
   padding: 10px;
 }
 
 .screen::after, .screen::before {
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   height: 1px;
   background: #213a69;
 }
 
 .screen::after {
   width: 100%;
   bottom: 0;
 }
 
 .screen::before {
   width: 80%;
   top: 0;
 }
 
 @media (min-width: 576px) {
   .screen {
     margin-bottom: 60px;
   }
 }
 
 .screen-thumb {
   width: 100%;
   max-width: 730px;
   margin: 0 auto 30px;
 }
 
 .screen-thumb img {
   width: 100%;
 }
 
 @media (min-width: 576px) {
   .screen-thumb {
     margin-bottom: 60px;
   }
 }
 
 .screen-area .subtitle {
   margin: 0 auto 30px;
   padding: 10px;
   text-align: center;
   position: relative;
   text-align: center;
   max-width: 350px;
   font-weight: 600;
   text-transform: uppercase;
   padding: 10px;
   color: #31d7a9;
 }
 
 .screen-area .subtitle::after, .screen-area .subtitle::before {
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   height: 1px;
   background: #213a69;
 }
 
 .screen-area .subtitle::after {
   width: 100%;
   bottom: 0;
 }
 
 .screen-area .subtitle::before {
   width: 80%;
   top: 0;
 }
 
 @media (min-width: 576px) {
   .screen-area .subtitle {
     margin-bottom: 60px;
   }
 }
 
 .seat-area {
   margin-bottom: 25px;
   margin-top: -5px;
 }
 
 @media (min-width: 576px) {
   .seat-area {
     margin-bottom: 55px;
   }
 }
 
 .seat-area .seat-line {
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 0;
 }
 
 .seat-area .seat-line > span {
   width: 20px;
 }
 
 .seat-area .seat-line > span:last-child {
   text-align: right;
 }
 
 .seat-area .seat-line ul {
   -ms-flex-wrap: nowrap;
       flex-wrap: nowrap;
   -ms-flex-pack: distribute;
       justify-content: space-around;
 }
 
 .seat-area .seat-line ul .front-seat {
   padding: 0;
 }
 
 .seat-area .seat-line ul .front-seat ul li {
   padding: 5px;
 }
 
 .seat-area .seat-line ul.seat--area {
   width: calc(100% - 60px);
 }
 
 @media (max-width: 991px) and (min-width: 768px) {
   .seat-area .seat-line .single-seat {
     width: 35px;
     padding: 2px !important;
   }
   .seat-area .seat-line .single-seat img {
     width: 100%;
   }
 }
 
 .seat-area.couple {
   margin-top: -10px;
   margin-bottom: 70px;
 }
 
 @media (min-width: 992px) {
   .seat-area.couple {
     margin-bottom: 110px;
   }
 }
 
 .seat-area.couple .seat-line .single-seat {
   padding: 10px;
 }
 
 @media (max-width: 991px) and (min-width: 768px) {
   .seat-area.couple .seat-line .single-seat {
     width: 70px;
     padding: 4px !important;
   }
 }
 
 .single-seat {
   cursor: pointer;
   position: relative;
 }
 
 .single-seat .sit-num {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-transform: uppercase;
   font-size: 14px;
 }
 
 @media (max-width: 991px) {
   .single-seat .sit-num {
     width: 100%;
     font-size: 12px;
     text-align: center;
   }
 }
 
 .single-seat:hover .sit-num {
   display: none;
 }
 
 @media (max-width: 767px) {
   .screen-wrapper {
     width: 100%;
     overflow-x: scroll;
   }
   .screen-wrapper .seat-area {
     width: 800px;
     margin-bottom: 10px;
   }
   .screen-wrapper::-webkit-scrollbar {
     height: 3px;
   }
 }
 
 .movie-facility {
   overflow: hidden;
 }
 
 .proceed-to-book {
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin-bottom: -25px;
   position: relative;
   z-index: 1;
 }
 
 @media (max-width: 767px) {
   .proceed-to-book .book-item .title {
     font-size: 24px;
   }
   .proceed-to-book .book-item span {
     font-size: 14px;
   }
   .proceed-to-book .book-item .custom-button {
     font-size: 14px;
   }
 }
 
 .proceed-to-book .book-item {
   margin-bottom: 25px;
 }
 
 .proceed-to-book .book-item span {
   color: #ffffff;
   text-transform: capitalize;
   display: block;
   margin-bottom: 14px;
 }
 
 .proceed-to-book .book-item .title {
   color: #31d7a9;
   text-transform: uppercase;
 }
 
 .proceed-to-book .book-item .custom-button {
   padding: 8px 24px;
 }
 
 .proceed-book {
   padding: 32px 40px 32px;
   position: relative;
 }
 
 .proceed-book::before {
   background-color: #232222;
   opacity: 0.9;
   width: 100%;
   height: 100%;
 }
 
 @media (max-width: 767px) {
   .proceed-book {
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 80px;
   }
 }
 
 .page-title-area {
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin: 0 -15px -20px;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .page-title-area .item {
   margin: 0 15px 20px;
 }
 
 .page-title-area .item .title {
   font-size: 28px;
   margin-bottom: 12px;
 }
 
 @media (max-width: 767px) {
   .page-title-area .item.md-order-1 {
     -webkit-box-ordinal-group: 2;
         -ms-flex-order: 1;
             order: 1;
   }
 }
 
 .page-title-area .date-item {
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .page-title-area .date-item .date {
   margin-right: 30px;
 }
 
 .page-title-area .date-item .select-bar {
   border-radius: 5px;
   background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
   -webkit-box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
           box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
   border: none;
   height: 36px;
 }
 
 .page-title-area .date-item .select-bar .current {
   line-height: 36px;
   display: inherit;
 }
 
 .page-title-area .date-item .select-bar .list {
   background: #032055;
 }
 
 .page-title-area .date-item .select-bar .list li {
   padding-top: 0;
   padding-bottom: 0;
 }
 
 .page-title-area .date-item .select-bar .list li:hover, .page-title-area .date-item .select-bar .list li.selected {
   background: #001232;
 }
 
 .page-title-area .date-item .select-bar::after {
   border-color: #ffffff;
 }
 
 .page-title {
   padding: 40px 0;
 
 }